<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>{% if title %}{{ title }} | {% endif %}{{ site_title }}</title>
	<link href="/css/admin.css" type="text/css" rel="stylesheet"></link>
	<link rel="shortcut icon" href="/favicon.ico" />
	<script src="/js/prototype.js"></script>
	<script src="/js/scripty/effects.js"></script>
	<script src="/js/tinymce/tiny_mce.js"></script>
	{% block head %}{% endblock %}	
</head>
<body>

<div id="container">
	<div id="banner">

        <div id="logo">
        	<h1>
        		<a href="/"><img src="/template/turbinecms.png" alt="{{ site_title|escape }}" /></a><br />
        		<small>{{ description }}</small>
        	</h1>
        </div>
        
		<div id="navcontainer">
			<ul>
				<li><a href="/">Home</a></li>
				{% for link in links %}
				<li><a href="/page/{{ link.url|escape }}">{{ link.title|escape }}</a></li>
				{% endfor %}
			</ul>
			<div style="clear: both"></div>
		</div>

	</div>

	<div id="content_div">
		<h1><a href="/admin">Admin</a></h1>

		<div>{% block content %}Nothing here to see, move along!{% endblock %}</div>

	</div>

	<div id="footer"><p>&copy; 2009 <a href="http://www.turbinecms.com/">TurbineCMS</a>. <a href="{{logouturl}}">Log out</a></p></div>
	</div>

</body>
</html>